.imageContainer {
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  max-height: 300px;
  width: 100%;
  position: relative;
  text-align: center;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.envImage {
  height: 300px;
  /* width: 100%; */

}
.imageOverlay {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    #594f4e 10% 35%,
    rgba(0, 0, 0, 0.1) 55% 55%,
    #594f4e 70% 90%
  );
  /* opacity: 1.2; */
  color: white;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  width: auto;
  z-index:300;
}

/* .imageContainer img{ */
  /* height: 300px; */
  /* width: auto; */
  /* z-index: 99; */
/* } */
.envTitle {

  text-align: center;
  align-self: center;
  font-family: 'Cherry Cream Soda', cursive;
  color: white;
  letter-spacing:7px;
  opacity: .75;
  margin-top: 0px;
  z-index:201;
}


/* .imageContainer {
  margin: 0;
  background-color: #7b6d6d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 250px;
  display: flex;
  justify-content:center
  
}
.imageContainer > img{
  height: 250px;
  object-fit:contain;
  
}

.contentImage {
  height: 250px;
  width: 100%;

}
 */
