.selectList {
  list-style-type: none;
  border: 1px solid black;
  padding: 0 15px;
  height: 8vh;
  /* width: 8vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.headerContainer{
    border: 1px solid black;
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
}
  
.headerGreetings{
    /* border: 1px solid greenyellow; */
    /* height: 12vh; */
    width: 200px;
    /* margin-right: 0px; */
    /* padding-right: 0px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    /* margin-top:18px; */
    background-color:yellow;

    
}

.userName{
    /* font-size: 12px; */
    /* position: relative; */
    /* bottom: 10px; */
    /* margin-top:30px; */
    /* margin-left:-30px; */
}
  
.logOutBtn{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    font-size: 15px;
}
  
/* .headerProfilePic{
    border: 1px solid;
    height: 57px;
    width:  62px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
} */

/* .ppImage{  
    height: 20px;
    width:  auto;
    border-radius: 0%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border:1px solid
} */
  
  button{
    border: none;
    background: none;
  }
  

  
